/*TOTAL*/
* {
    font-family: 'Grenze', serif;
}

body {
    font-size: 1.2em;
    line-height: 1.6;
    overflow-x: hidden;
    background-color: #cccccc !important;
}

span {
    font-family: 'Saira Stencil One', cursive;
}

.padding {
    padding-left: 5vw !important;
    padding-right: 5vw !important;
}

.filler {
    /*height: 0.1vh;*/
}

/*INTRO*/
#intro {
    height: 100%;
    width: 100%;
    font-size: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.displayNav {
    top: 0;
    transition: 0.3s;
    opacity: 1;
    background-color: #FFF;
    color: #1f1f1f;
    width: 100%;
    height: 150px;
    position: fixed;
    text-align: center;
    font-size: 3vh;
    line-height: 150px;
    z-index: 10;
}

@media only screen and (orientation: landscape) {
    #intro {
        font-size: 5vw;
    }
    .displayNav {
        font-size: 3vw !important;
    }
}

/*HOME*/
#home {
    height: 100%;
    font-size: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.down {
    border: solid black;
    border-width: 0 1vh 1vh 0;
    display: inline-block;
    margin-top: 30%;
    padding: 1vh;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    animation-name: arrow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@media only screen and (orientation: portrait) {
    .home-content {
        font-size: 3vh !important;
    }
}

@media only screen and (orientation: landscape) {
    #home {
        height: 100%;
    }

    #home img {
        height: 35vh;
        width: 20vw;
    }
}

@keyframes arrow {
    0% {
        margin-top: 30%;
    }
    50% {
        margin-top: 35%;
    }
    100% {
        margin-top: 30%;
    }
}


/*SKILLS*/
#skills {
    height: 100%;
    width: 100%;
    font-size: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#skill-name {
    font-size: 8vh;
}

.jumbotron {
    background: #cccccc !important;
}

.more {
    margin-bottom: 100%;
    text-align: center;
}

@media only screen and (orientation: landscape) {
    #skills {
        height: auto;
    }

    .skills-content {
        margin-top: 10%;
    }

    #skill-name {
        font-size: 8vw;
    }

}

/*WORKS*/
#works {
    height: 100%;
    width: 100%;
    font-size: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#work-name {
    font-size: 6vh;
}

.sub-name {
    font-size: 4vh;
}

.works-header {
    font-size: 2.5vh;
}

@media only screen and (orientation: landscape) {

    #works {
        height: auto;
    }

    #work-name {
        font-size: 6vw;
    }

    .works-header {
        font-size: 2.5vw;
    }

    .sub-name {
        font-size: 4vw;
    }

    .work-content {
        margin-top: 10%;
        font-size: 2vw;
    }
}

/*CONTACT*/
#contact {
    height: 80%;
    width: 100%;
    font-size: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#contact-name {
    font-size: 6vh;
}

.input {
    height: auto;
    outline: none;
    border-bottom: 5px solid #1F1F1F !important;
    width: 100%;
    border-radius: 10% !important;
}

.contact-button {
    padding-top: 5%;
    padding-bottom: 10%;

}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}

.form_wrapper {
    max-width: 100%;
    box-sizing: border-box;
    padding: 25px;
    margin: 8% auto 0;
    position: relative;
    z-index: 1;
    border-top: 5px solid #1F1F1F;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-transition: none;
    transition: none;
    -webkit-animation: expand 0.8s 0.6s ease-out forwards;
    animation: expand 0.8s 0.6s ease-out forwards;
    opacity: 0;
}

.form_wrapper h2 {
    font-size: 1.5em;
    line-height: 1.5em;
    margin: 0;
}

.form_wrapper .title_container {
    text-align: center;
    padding-bottom: 15px;
}

.form_wrapper h3 {
    font-size: 1.1em;
    font-weight: normal;
    line-height: 1.5em;
    margin: 0;
}

.form_wrapper label {
    font-size: 12px;
}

.form_wrapper .row {
    margin: 10px -15px;
}

.form_wrapper .row > div {
    padding: 0 15px;
    box-sizing: border-box;
}

.form_wrapper .col_half {
    width: 50%;
    float: left;
}

.form_wrapper .input_field {
    position: relative;
    margin-bottom: 20px;
    -webkit-animation: bounce 0.6s ease-out;
    animation: bounce 0.6s ease-out;
}

.form_wrapper input[type="submit"] {
    background: #1F1F1F;
    height: 35px;
    line-height: 35px;
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    font-size: 1.1em;
    margin-bottom: 10px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    transition: all 0.30s ease-in-out;
}

.form_wrapper input[type="submit"]:hover {
    background: #e1a70a;
}

.form_wrapper input[type="submit"]:focus {
    background: #e1a70a;
}

@-webkit-keyframes check {
    0% {
        height: 0;
        width: 0;
    }
    25% {
        height: 0;
        width: 7px;
    }
    50% {
        height: 20px;
        width: 7px;
    }
}

@keyframes check {
    0% {
        height: 0;
        width: 0;
    }
    25% {
        height: 0;
        width: 7px;
    }
    50% {
        height: 20px;
        width: 7px;
    }
}

@-webkit-keyframes expand {
    0% {
        -webkit-transform: scale3d(1, 0, 1);
        opacity: 0;
    }
    25% {
        -webkit-transform: scale3d(1, 1.2, 1);
    }
    50% {
        -webkit-transform: scale3d(1, 0.85, 1);
    }
    75% {
        -webkit-transform: scale3d(1, 1.05, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        opacity: 1;
    }
}

@keyframes expand {
    0% {
        -webkit-transform: scale3d(1, 0, 1);
        transform: scale3d(1, 0, 1);
        opacity: 0;
    }
    25% {
        -webkit-transform: scale3d(1, 1.2, 1);
        transform: scale3d(1, 1.2, 1);
    }
    50% {
        -webkit-transform: scale3d(1, 0.85, 1);
        transform: scale3d(1, 0.85, 1);
    }
    75% {
        -webkit-transform: scale3d(1, 1.05, 1);
        transform: scale3d(1, 1.05, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
        opacity: 1;
    }
}

@-webkit-keyframes bounce {
    0% {
        -webkit-transform: translate3d(0, -25px, 0);
        opacity: 0;
    }
    25% {
        -webkit-transform: translate3d(0, 10px, 0);
    }
    50% {
        -webkit-transform: translate3d(0, -6px, 0);
    }
    75% {
        -webkit-transform: translate3d(0, 2px, 0);
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes bounce {
    0% {
        -webkit-transform: translate3d(0, -25px, 0);
        transform: translate3d(0, -25px, 0);
        opacity: 0;
    }
    25% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
    }
    50% {
        -webkit-transform: translate3d(0, -6px, 0);
        transform: translate3d(0, -6px, 0);
    }
    75% {
        -webkit-transform: translate3d(0, 2px, 0);
        transform: translate3d(0, 2px, 0);
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@media (max-width: 600px) {
    .form_wrapper .col_half {
        width: 100%;
        float: none;
    }

    .bottom_row .col_half {
        width: 50%;
        float: left;
    }

    .form_container .row .col_half.last {
        border-left: none;
    }

    .remember_me {
        padding-bottom: 20px;
    }
}

@media only screen and (orientation: landscape) {
    #contact-name {
        font-size: 6vw;
    }

    .contact-content {
        margin-top: 60%;
    }
}

/*FOOTER*/
#footer {
    background-color: #1F1F1F;
    color: #cccccc;
}

#footer .jumbotron {
    background: #1F1F1F !important;
    color: #cccccc;
}

.flex-wrapper {
    display: flex;
    min-height: auto;
    flex-direction: column;
    justify-content: space-between
}

@media only screen and (orientation: landscape) {
    #footer {
        background-color: #1F1F1F;
        color: #cccccc;
        margin-top: 60%;
    }

    #footer .jumbotron {
        background: #1F1F1F !important;
        color: #cccccc;
        padding: 5% 5% 5% 5%;
    }
}

/*HamBurger Menu*/
label .menu {
    position: fixed;
    right: -100px;
    top: -100px;
    z-index: 100;
    width: 250px;
    height: 250px;
    background: #FFF;
    border-radius: 50% 50% 50% 50%;
    transition: .5s ease-in-out;
    box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
    cursor: pointer;
    border: 1px solid #1f1f1f;
}

label .hamburger {
    position: absolute;
    top: 160px;
    left: 70px;
    width: 30px;
    height: 2px;
    background: #000;
    display: block;
    -webkit-transform-origin: center;
    transform-origin: center;
    transition: .5s ease-in-out;
}

label .hamburger:after, label .hamburger:before {
    transition: .5s ease-in-out;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: #000;
}

label .hamburger:before {
    top: -10px;
}

label .hamburger:after {
    bottom: -10px;
}

label input {
    display: none;
}

label input:checked + .menu {
    box-shadow: 0 0 0 100vw #1F1F1F, 0 0 0 100vh #1F1F1F;
    border-radius: 0;
    border: 1px solid #fff;
    background: #1F1F1F;
}

label input:checked + .menu .hamburger {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background: #FFF;
}

label input:checked + .menu .hamburger:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    background: #FFF;
    bottom: 0;
}

label input:checked + .menu .hamburger:before {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    background: #FFF;
    top: 0;
}

label input:checked + .menu + ul {
    opacity: 1;
}

label ul {
    z-index: 200;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    color: #fff;
    transition: .25s 0s ease-in-out;
}

label a {
    font-size: 3vh;
    margin-bottom: 1em;
    display: block;
    color: #fff;
    text-decoration: none;
}